body {
    background: #7fac7c;
}
.App {
    max-width: 960px;
    margin: 0 auto;
}

.App-footer {
    text-align: center;
    margin: 30px, 0;
    padding-bottom: 30px;
}
.App a {
    text-decoration: none;
    color: #2e4d2c;
}
.App .cat {
    max-width: 100%;
}
